<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% if request.user.is_authenticated %}
        <p> Welcome {{request.user}} </p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}"><button>Log in</button></a>
        <a href="{% url 'signup' %}"><button>Sing up</button></a>
    {% endif %}
    {% block content %}

    {% endblock %}
</body>
</html>